# Example MySQL config file for medium systems.
#
# This is for a system with little memory (32M - 64M) where MySQL plays
# an important part, or systems up to 128M where MySQL is used together with
# other programs (such as a web server)
#
# You can copy this file to
# /etc/my.cnf to set global options,
# mysql-data-dir/my.cnf to set server-specific options (in this
# installation this directory is /usr/local/mysql/var) or
# ~/.my.cnf to set user-specific options.
#
# In this file, you can use all long options that a program supports.
# If you want to know which options a program supports, run the program
# with the "--help" option.

# The following options will be passed to all MySQL clients
[client]
#password	= your_password
port		= 3366
socket		= /data/mysql/tmp/mysql_3366.sock

# Here follows entries for some specific programs

# The MySQL server
[mysqld]
bind-address = 192.168.133.183
port = 3366
datadir = /data/mysql/data_3366/
socket  = /data/mysql/tmp/mysql_3366.sock

# general_log
general-log = 1
general-log-file = /data/mysql/logs_3366/gen_log.log

# long_query_log
long_query_time = 1
slow_query_log = 1
slow_query_log_file = /data/mysql/logs_3366/slow.log

# query_cache
query_cache_type = 0
#query_cache_size = 64M

character_set_server = utf8
skip-external-locking
key_buffer_size = 64M
max_allowed_packet = 16M
table_open_cache = 1024
sort_buffer_size = 8M
read_buffer_size = 2M
read_rnd_buffer_size = 16M
query_cache_limit = 2M
max_connections = 10000
max_connect_errors = 10000000
thread_cache_size = 64
lower_case_table_names = 1
log-bin-trust-function-creators = 1
binlog_cache_size = 1M
max_heap_table_size = 64M
tmp_table_size = 64M
group_concat_max_len = 102400
skip-name-resolve
wait_timeout=100

innodb_use_native_aio=0

# InnoDB
innodb_buffer_pool_size = 8G
innodb_thread_concurrency = 48
innodb_log_buffer_size = 64M
innodb_flush_log_at_trx_commit = 2
innodb_log_file_size = 8M
innodb_file_per_table = 1

# MyISAM
myisam_sort_buffer_size = 64M

# Master
server-id=183
log-bin=/data/mysql/binlog_3366/bin-log
expire_logs_days = 7
binlog_format="MIXED"

binlog-ignore-db=mysql
binlog-ignore-db=test
binlog-ignore-db=information_schema
slave-skip-errors=1032,1062,126,1114,1146,1048,1396
#slave-skip-errors=1062

# slave
#log-slave-updates = 1

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
default_character_set = utf8

[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
